<!-- Certifications -->
<section class="certification-section" id="certifications">
<h2>Certifications 📜 </h2>
<div class="certification-cards">
    <div class="cert-card">
    <strong>Dicoding</strong><br>
    <a href="https://www.dicoding.com/certificates/JLX19O465P72" target="_blank">Backend JavaScript</a>
    </div>
    <div class="cert-card">
    <strong>Dicoding</strong><br>
    <a href="https://www.dicoding.com/certificates/ERZRE38QQXYV" target="_blank">Cloud Basics & Gen AI on AWS</a>
    </div>
    <div class="cert-card">
    <strong>IBM</strong><br>
    <a href="https://www.coursera.org/account/accomplishments/specialization/certificate/2H6LGD78W3E2" target="_blank">Data Science Professional Cert</a>
    </div>
    <div class="cert-card">
    <strong>Udemy</strong><br>
    <a href="https://www.udemy.com/certificate/UC-7e1024c6-fbf7-4dbc-9784-d7a5f69d186d/" target="_blank">RPA & Intelligent Automation</a>
    </div>
    <div class="cert-card">
    <strong>Binar Academy</strong><br>
    <a href="https://drive.google.com/file/d/1MKYVWqR5Vysc2iYKj5LJdmJvxN6tbfU_/view" target="_blank">Data Science Course</a>
    </div>
    <div class="cert-card">
    <strong>Google</strong><br>
    <a href="https://www.coursera.org/account/accomplishments/professional-cert/CWU8B5QPSWXG" target="_blank">Data Analytics Certificate</a>
    </div>
</div>
</section>