<section class="work-section fade-in-section" id="experience">
  <h2>Work Experience 💼 </h2>

  <div class="timeline">
    <div class="job-entry">
      <div class="job-title">Software Engineer</div>
      <div class="job-company">Court Singapore · Nov 2024 – Present</div>
      <ul>
        <li>Identified performance bottlenecks in the legacy warehouse integration module and redesigned backend logic using Python/Django, resulting in a 30% improvement in API response time.</li>
        <li>Led the development of real-time dashboards using Django REST API and JavaScript, enabling stakeholders to track inventory and sales with up-to-the-minute accuracy.</li>
        <li>Managed CI/ CD pipelines and Git workflows, ensuring seamless deployment with minimal downtime and improving release frequency by 25%.</li>
      </ul>
    </div>

    <div class="job-entry">
      <div class="job-title">Warehouse Staff - Software Engineer</div>
      <div class="job-company">PT Yamaha Indonesia Motor Manufacturing · Sep 2023 – Aug 2024</div>
      <ul>
        <li>Developed a Medium Term Plan (MTP) 2024-2027 for the Warehouse Control System, establishing a strategic roadmap to enhance operational efficiency.</li>
        <li>Developed ETL pipelines to automate data flow between warehouse management systems, reducing data processing time by 40%.</li>
        <li>Automated key processes in the Warehouse Division by creating a Robot Process Automation (RPA) solution, streamlining operations and reducing manual workload.</li>
        <li>Engineered and implemented the 1st generation Low-Cost Automated Guided Vehicle (AGV) in the Warehouse Division, improving material handling speed by 25% and reducing labor costs.</li>
      </ul>
    </div>

    <div class="job-entry">
      <div class="job-title">Python Web Developer Intern</div>
      <div class="job-company">Praxis Academy Yogyakarta · Aug 2020 – Jun 2021</div>
      <ul>
        <li>Developed and implemented a Management System for Field Work Practices at Universitas Nahdhatul Ulama (UNU) Yogyakarta using Python, Django and PostgreSQL.</li>
        <li>Mentored a team of Python web developers over a 3-month period.</li>
      </ul>
    </div>
  </div>
</section>
