
<section class="hero fade-in-section">
  <div class="hero-content">
    <img src="https://github.com/gigihko/web-portofolio/blob/main/static/profile-image-gigihko.jpg?raw=true" alt="Gigih Pambuko" class="profile-img" />
    <h2>Hi, I'm</h2>
    <h1>Gigih Pambuko</h1>
    <p>Full‑Stack Software Engineer | Backend Developer | 3+ Years in Scalable Web Solutions | Building Internal Business Tools</p>
    <div class="mt-4">
      <a href="#about" class="btn btn-primary me-2">Get in Touch</a>
      <a href="#projects" class="btn btn-light">View Projects</a>
    </div>
  </div>
</section>
