.text-muted-custom {
  color: #6c757d;
}
body.light-mode .text-muted-custom {
  color: #6c757d; /* abu-abu terang */
}
body:not(.light-mode) .text-muted-custom {
  color: #ffffffb3; /* putih dengan transparansi */
}
